<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- unique bean definitions here -->
    <bean id="profile" class="com.theo.Profile"/>
    <bean id="student" class="com.theo.Student">
        <!-- For a variable-->
        <property name="university" value="University of Zimbabwe"/>
        <!-- For an object-->
        <property name="profile" ref="profile"/>
    </bean>

</beans>